$htmlFont: 16px;
$footerColor: #3e4049;
$authorColor: #2667d8;
$darkColor: #f2f0e8;
$lightColor: #fbfcfa;

@function rem($px){
  @return $px / $htmlFont + 0rem
}

@mixin social-blocks($url) {
  background: url($url) no-repeat;
  display: block;
  width: rem(20px);
  height: rem(20px);
  background-size: contain
}


@import "global.sass";
@import "header.sass";
@import "search.sass";
@import "stats.sass";
@import "main-gallery.sass";
@import "user-gallery.sass";
@import "footer.sass";



