html {
  font-size: 16px; }

.body {
  width: 20rem; }

.content {
  width: 20rem; }

.header {
  width: 20rem;
  height: 15rem;
  background: url("../images/header_bg.jpg") no-repeat; }
  .header__navigation {
    list-style-type: none;
    padding: 0;
    margin-left: 11px; }
    .header__navigation_logout {
      background: url("../images/off.png") no-repeat;
      display: block;
      width: 1.3125rem;
      height: 1.3125rem;
      position: relative;
      left: 10px;
      top: 10px; }
    .header__navigation_profile {
      background: url("../images/no_photo.png") no-repeat;
      background-size: contain;
      display: block;
      width: 3.125rem;
      height: 3.125rem;
      position: relative;
      left: 3px;
      top: 4px; }
    .header__navigation_edit {
      background: url("../images/edit.png") no-repeat;
      display: block;
      width: 1.3125rem;
      height: 1.3125rem;
      position: relative;
      left: 10px;
      top: 10px; }
    .header__navigation > li {
      display: inline-block;
      position: relative;
      margin-top: 1.3125rem; }
      .header__navigation > li:nth-child(2n + 1) {
        width: 2.5rem;
        height: 2.5rem;
        background: #ffffff;
        border-radius: 50%; }
      .header__navigation > li:nth-child(2n) {
        width: 3.4375rem;
        height: 3.4375rem;
        background: #ffffff;
        border-radius: 50%;
        margin: 0 4.9375rem; }
  .header__user {
    text-align: center;
    color: #ffffff; }
    .header__user_name {
      font-size: 1.3125rem;
      line-height: 1.5rem; }
    .header__user_about {
      font-size: 0.875rem;
      line-height: 1rem; }
  .header__socials {
    list-style-type: none;
    padding: 0;
    margin: 0 5.625rem; }
    .header__socials_email {
      background: url("../icons/soc_email.png") no-repeat;
      display: block;
      width: 1.25rem;
      height: 1.25rem; }
    .header__socials_facebook {
      background: url("../icons/soc_fb.png") no-repeat;
      display: block;
      width: 1.25rem;
      height: 1.25rem; }
    .header__socials_vk {
      background: url("../icons/soc_vk.png") no-repeat;
      display: block;
      width: 1.25rem;
      height: 1.25rem; }
    .header__socials_twitter {
      background: url("../icons/soc_twitter.png") no-repeat;
      display: block;
      width: 1.25rem;
      height: 1.25rem; }
    .header__socials_google {
      background: url("../icons/soc_google.png") no-repeat;
      display: block;
      width: 1.25rem;
      height: 1.25rem; }
    .header__socials li {
      display: inline-block;
      position: relative;
      margin-top: 1.3125rem;
      margin-left: 4px; }

.search {
  height: 60px;
  background: #dddddd;
  position: relative; }
  .search:after {
    content: "";
    clear: both;
    display: table; }
  .search-input {
    width: 18.75rem;
    height: 2.5rem;
    box-sizing: border-box;
    margin: 10px 10px;
    padding-left: 15px;
    border-radius: 1.25rem;
    border: 1px solid #dddddd;
    background: #fff;
    outline: none; }
  .search-button {
    width: 2.625rem;
    height: 2.625rem;
    background: url("../icons/search.svg") no-repeat;
    border: none;
    position: absolute;
    top: 1.25rem;
    right: 0; }

.world {
  background: #fff; }
  .world-gray_background {
    background: #f6f6f6; }
  .world-gallery_add {
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid #ddd;
    border-radius: 50%;
    background: #f6f6f6 url("../icons/add.svg") no-repeat 50% 50%;
    position: relative;
    top: 10px; }
  .world-h2 {
    margin: 1.375rem;
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem; }
  .world-h2_album {
    margin: 12px 12px 0 12px;
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-bottom: 1.375rem;
    padding-top: 0.25rem; }
  .world__gallery_margin {
    margin: 0 10px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
  .world__gallery_img {
    width: 18.75rem;
    height: 12.5rem; }

.user-info_margin {
  margin-left: 0.75rem; }

.user-info__avatar {
  background: url("../images/no_photo.png") no-repeat;
  width: 3.125rem;
  height: 3.125rem; }
  .user-info__avatar_float {
    float: left; }

.user-info__title {
  font-size: 0.875rem;
  line-height: 1.125rem;
  display: block;
  width: 15rem; }
  .user-info__title_padding {
    padding: 10px;
    margin-left: 16px; }

.user-info__stats {
  list-style-type: none;
  margin: 7px 0 0 3.75rem; }
  .user-info__stats_comments {
    background: url("../icons/comments.svg") no-repeat;
    display: block;
    width: 1.25rem;
    height: 1.25rem; }
  .user-info__stats_likes {
    background: url("../icons/heart.svg") no-repeat;
    display: block;
    width: 1.25rem;
    height: 1.25rem; }
  .user-info__stats li {
    display: inline-block;
    padding-left: 1.5625rem; }

.user-info__album {
  font-size: 0.875rem;
  line-height: 1.125rem;
  display: block;
  padding: 0.75rem 0;
  background: #f6f6f6; }
  .user-info__album:before {
    content: '';
    float: left;
    background: url("../icons/album.svg") no-repeat;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 1.25rem;
    padding-left: 10px; }
  .user-info__album_edit {
    content: '';
    float: right;
    background: url("../icons/edit.svg") no-repeat;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: 10px;
    right: 12px; }
    .user-info__album_edit-margin {
      margin: 0 0 10px 0; }

.button-blue_more {
  width: 8.4375rem;
  height: 2.5rem;
  color: #28bbf0;
  border: 1px solid #28bbf0;
  border-radius: 1.5625rem;
  margin: 1.25rem auto;
  font-size: 0.875rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  user-select: none; }

.footer {
  width: 20rem;
  height: 15rem;
  background: url("../images/footer_bg.jpg") no-repeat;
  margin-top: 1.875rem; }
  .footer_up-arrow {
    width: 1.875rem;
    height: 1.5625rem;
    display: block;
    background: url("../images/top.png") no-repeat;
    margin: 0 auto;
    position: relative;
    top: 1.4375rem; }
  .footer__description {
    color: #ffffff;
    width: 16.5rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 3.625rem auto auto;
    text-align: center; }
